server:
  port: ${GATEWAY_PORT:8080}
spring:
  application:
    name: gateway
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lowerCaseServiceId: true
management:
  metrics:
    enabled: false
  endpoints:
    web:
      discovery:
        enabled: false
      exposure:
        include: [ 'health', 'info' ]
eureka:
  client:
    serviceUrl:
      defaultZone: ${DISCOVERY_SERVICE_URL:http://client:client@localhost:8761/eureka}
  instance:
    preferIpAddress: true